@import "tailwindcss";

@theme {
  /* ベース */
  /* --color-background: #f9fafb; */
  --color-background: #e5e7eb;
  --color-text: #565656;
  --color-text-gray: #9ca3af;
  --color-white: #fdfdfd;
  --color-border: #e5e7eb;
  --color-background-card: #f9fafb;

  /* ボタン・タブ用 */
  --color-btn-black: #9ca3af;
  --color-btn-green: #86a9a8;
  --color-btn-red: #d58b81;
  --color-btn-yellow: #fad48b;
}

body {
  @apply bg-[var(--color-background)] text-[var(--color-text)];
}

/* 入力フォーム */
input,
textarea {
  @apply border border-[var(--color-border)] bg-[var(--color-background-card)] rounded-md px-3 py-2 w-full;
  color: var(--color-text);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-gray);
}

/* カード用 */
.card-bg {
  @apply bg-[var(--color-white)];
}

.card {
  @apply border border-[var(--color-border)] bg-[var(--color-background-card)] rounded-xl p-4 shadow-sm;
}

/* ボタン用 */
.btn-black {
  @apply bg-[var(--color-btn-black)] text-white font-semibold rounded-md py-2 px-4;
}

.btn-green {
  @apply bg-[var(--color-btn-green)] text-white font-semibold rounded-md py-2 px-4;
}

.btn-red {
  @apply bg-[var(--color-btn-red)] text-white font-semibold rounded-md py-2 px-4;
}
